body {
    background-color: #ffffff;
    font-family: 'RocknRoll One', sans-serif;
}

html {
    height: 100px;
    min-height: 100px;
}

.playerBox {
    height: 420px;
    width: 190px;
    background-color: #8d8d8db6;
    border-radius: 25px;
    border: 2px #440bd400 solid;
    margin: auto;
    position: relative;
    top: 150px;
    right: 370px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.cpuBox {
    height: 420px;
    width: 190px;
    background-color:#8d8d8db6;
    border-radius: 25px;
    margin: auto;
    position: relative;
    bottom: 270px;
    left: 370px;
    border: 2px #ffffff solid;
    display: flex;
    justify-content: center;
    z-index: 2
}

.currentScore {
    height: 100px;
    width: 240px;
    background-color: rgb(255, 146, 21);
    z-index: 100;
    margin:auto;
    position: relative;
    bottom: 370px;
    border: 2px white solid;
    border-radius: 40px;
}


.totalScore {
    height: 120px;
    width: 280px;
    background-color: rgb(10, 189, 221);
    z-index: 100;
    margin:auto;
    position: relative;
    bottom: 1000px;
    border: 2px white solid;
    border-radius: 25px;
    left: 390px
}

.console {
    height: 100px;
    width: 410px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    margin:auto;
    position: relative;
    bottom: 880px;
    border: 1px black solid;
    border-radius: 25px;
    z-index: 0;
    text-align: center;
    padding: 5px;
}

.title {
    text-align: center;
    position: relative;
    top: 110px;
}


.cpuIcon {
    height: 70px;
    width: 70px;
    position: relative;
    top: 10px;
    left: 54px
}

.cpuScissors {
    width: 300px;
    height: 200px;
    position:absolute;
    right: 31px;
    top: 43px;
    z-index: 20;
}

.cpuPaper {
    width: 300px;
    height: 200px;
    position:absolute;
    top: 150px;
    z-index: 21;
}

.cpuRock {
    width: 300px;
    height: 200px;
    position:absolute;
    top: 260px;
    left: 32px;
    z-index: 22;
}

.userIcon {
    width: 100px;;
    height: 80px;
    position: absolute;
    z-index: 10;
    bottom: 334px;
}

.userScissors {
    z-index: 11;
    width: 300px;
    height: 200px;
    position:absolute;
    right: 31px;
    top: 43px;
    z-index: 23;
}

.userPaper {
    width: 300px;
    height: 200px;
    position:absolute;
    top: 150px;
    z-index: 24;
}

.userRock {
    width: 300px;
    height: 200px;
    position:absolute;
    top: 260px;
    left: 32px;
    z-index: 25;
}

.scoreNumber {
    text-align: center;
    position:relative;
    bottom: 37px;
    font-size: 60px;
    color: rgba(37, 37, 37, 0.753)
}

.totalScoreTitle{
    text-align: center;
    position: relative;
    bottom: 15px;
}

.totalScoreNumber {
    text-align: center;
    position:relative;
    bottom: 56px;
    font-size: 60px;
    color: rgb(255, 255, 255)
}

.buttonsUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsUser div {
    margin: 15px;
    position: relative;
    top: 30px
}

.scissorsButtonU {
    height: 82px;
    width: 82px;
    background-color: rgb(255, 0, 0);
    z-index: 12;
    border-radius: 50%;
}

.paperButtonU {
    height: 80px;
    width: 80px;
    background-color: rgb(255, 0, 0);
    z-index: 12;
    border-radius: 50%;
}

.rockButtonU {
    height: 80px;
    width: 80px;
    background-color: rgb(255, 0, 0);
    z-index: 12;
    border-radius: 50%;
}

.buttonsCpu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsCpu div {
    margin: 15px;
    position: relative;
    top: 30px;
    right: 35px;
}

.scissorsButtonC {
    height: 82px;
    width: 82px;
    background-color: rgb(255, 0, 0);
    z-index: 12;
    border-radius: 50%;
}

.paperButtonC {
    height: 80px;
    width: 80px;
    background-color: rgb(255, 0, 0);
    z-index: 12;
    border-radius: 50%;
}

.rockButtonC {
    height: 80px;
    width: 80px;
    background-color: rgb(255, 0, 0);
    z-index: 12;
    border-radius: 50%;
}

.clicked {
    border: 2px white solid;
}

.stage1 {
    height: 180px;
    bottom: 910px;
}

.startButton {
    height: 30px;
    width: 100px;
    margin: auto;
    border: 2px black solid;
    position: relative;
    top: 11px;
    border-radius: 15px;
}

.smallConsole1 {
    width: 200px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 890px;
    left: 565px;
    border: 1px black solid;
    border-radius: 20px;
}